<style type="text/css">
    .opaque {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: wait;/* Add a pointer on hover */
    }
    .centered {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40%;
        left: 0px;
        right: 0px;
        bottom: 50%;
        opacity: 1.0;
        padding: 20px 20px 0px 20px;
        cursor: wait;
    }
    .saving-text {
        position: absolute;
        top: 20px;
        left: 0px;
        right: 0px;
        color: black;
        font-size: 16px;
    }
    .error-confirm-msg {
        width: 400px;
        height: 140px;
        position: absolute;
        top: 40%;
        left: 35%;
        bottom: 50%;
        padding: 20px 20px 0px 20px;
        background-color: white;
    }
    .form-error-msg {
        width: 400px;
        height: 140px;
        position: absolute;
        top: 40%;
        left: 35%;
        bottom: 50%;
        padding: 20px 20px 0px 20px;
        background-color: white;
    }
    .success-confrm-msg {
        width: 400px;
        height: 140px;
        position: absolute;
        top: 40%;
        left: 35%;
        bottom: 50%;
        padding: 20px 20px 0px 20px;
        background-color: white;
    }
</style>
<div class="opaque" id="id_full_overlay">
<div class="loader centered">
</div>
<p class="saving-text">Saving...</p>
<div id="id_error_overlay" style="display: none;">
<p class="error-confirm-msg">There was an error processing the submission. Please check all the fields properly then try again
<br/>
<br/>
<button class="btn btn-primary overlay-close">Close</button>
</p>
</div>
<div id="id_success_overlay" style="display: none;">
<p class="success-confrm-msg">Form Submitted Successfully.
<br/>
<br/>
<button class="btn btn-primary process-next-resource">Process Next</button>
</p>
</div>
<div id="id_manage_success_overlay" style="display: none;">
<p class="success-confrm-msg">Form Submitted Successfully.
<br/>
<br/>
<button class="btn btn-primary manage-success-redirect">Ok</button>
</p>
</div>
<div id="id_form_error" style="display: none">
    <p class="form-error-msg">Form contains error. Please fill up all the required fields and then submit.
    <br/>
    <br/>
    <button class="btn btn-primary overlay-close">Ok</button>
    </p>
</div>
</div>
<script>
    $(document).ready(function () {
        window.show_overlay_only_for = function (section_name) {
        var $full_overlay = $("#id_full_overlay");
        var $loader = $full_overlay.find(".loader");
        var $saving_text = $full_overlay.find(".saving-text");
        var $success_overlay = $("#id_success_overlay");
        var $error_overlay = $("#id_error_overlay");
        var $manage_success_overlay = $("#id_manage_success_overlay");
        var $form_error = $("#id_form_error");
        if(section_name == "loading") {
            $loader.show();
            $saving_text.hide();
            $error_overlay.hide();
            $form_error.hide();
            $success_overlay.hide();
            $manage_success_overlay.hide();
        }
        else if(section_name == "success") {
            $loader.hide();
            $saving_text.hide();
            $error_overlay.hide();
            $form_error.hide();
            $success_overlay.show();
            $manage_success_overlay.hide();
        }
        else if(section_name == "server_error") {
            $loader.hide();
            $saving_text.hide();
            $error_overlay.show();
            $form_error.hide();
            $success_overlay.hide();
            $manage_success_overlay.hide();
        }
        else if(section_name == "form_error") {
            $loader.hide();
            $saving_text.hide();
            $error_overlay.hide();
            $form_error.show();
            $success_overlay.hide();
            $manage_success_overlay.hide();
        }
        else if("manage_success") {
            $loader.hide();
            $saving_text.hide();
            $error_overlay.hide();
            $form_error.hide();
            $success_overlay.hide();
            $manage_success_overlay.show();
        }
        $full_overlay.show();
    }

    window.hide_overlay = function() {
        var $full_overlay = $("#id_full_overlay");
        var $loader = $full_overlay.find(".loader");
        var $saving_text = $full_overlay.find(".saving-text");
        var $success_overlay = $("#id_success_overlay");
        var $error_overlay = $("#id_error_overlay");
        var $form_error = $("#id_form_error");
        var $manage_success_overlay = $("#id_manage_success_overlay");
        $full_overlay.hide();
        $full_overlay.hide();
        $saving_text.hide();
        $success_overlay.hide();
        $error_overlay.hide();
        $form_error.hide();
        $manage_success_overlay.hide();
    }
    });
</script>