{% if request.user.is_superuser %}
<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="pull-left list-inline">
          <!--<li><a class="{% if active_menu == "documents" %}menu-active{% endif %}" href="{% url "manage_view" "documents" %}">Manage Documents</a></li>-->
          <li><a class="{% if active_menu == "documents" %}menu-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=no">Manage Documents</a></li>
          <li><a class="{% if active_menu == "users" %}menu-active{% endif %}" href="{% url "manage_view" "users" %}">Manage Users</a></li>
        </ul>
    </div>
</div>
<hr/>
<style type="text/css">
    .menu-active {
        font-weight: bold;
        color: green;
    }
    .error {
        color: red;
    }
    .success {
        color: green;
    }
</style>
{% endif %}