.document-img {
    margin: 0px !important;
    max-width:100%;
    max-height:100%;
}

.document-form-area {
    padding: 0 10px 0px 10px !important;
}

a.pagn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a.pagn:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 40%;
}

.pagn-container {
    padding: 20px !important;
}

.doc-img-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 0px 10px 10px 10px !important;
}

#main_body_container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px !important;
}

.img-text-container {
    padding: 10px !important;
}

.footer {
    padding: 40px 20px 40px 20px !important;
}