{% load staticfiles %}
<footer class="container footer">
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <div>© Copyright 2017. AlemHealth Pte. Ltd.</div>
            </div>
        </div>
    </div>
</footer>