<div class="row">
    <div class="col-md-12">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="#" class="brand w-nav-brand">
                <img src="/static/images/theme/000_logo_006e2x.png" width="275" srcset="/static/images/theme/000_logo_006e2x-p-500.png 500w, /static/images/theme/000_logo_006e2x.png 550w" sizes="(max-width: 479px) 46vw, (max-width: 991px) 165px, 275px" class="image"></a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right list-inline">
              {% if request.user.is_authenticated %}
              <li><a class="navbar-menu-item" href="#">{{ request.user.email }}{% if request.user.is_superuser %}(Admin){% endif %}</a></li>
              <li><a class="navbar-menu-item" href="{% url 'account_logout' %}">Logout</a></li>
              {% else %}
              <li><a class="navbar-menu-item" href="{% url 'account_login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <hr/>
    </div>
</div>
<style type="text/css">
    .navbar-menu-item {
        font-weight: bold;
        font-size: 16px;
    }
</style>