.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
textarea {
    height: 100px !important;
}
.form-heading {
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
}
#id_resource_url {
    padding: 0 20px 20px 20px;
}
.doc_type_container {
    margin: 0 14px 20px 14px;
}
#main_body_container {
    min-height: 800px;
}
.hide {
    display: none;
}