{% extends 'base/master.html' %}
{% load staticfiles %}
{% block body_content %}
{% include "sections/manage_top_menu.html" %}
{% if is_manage == 1 %}
<div class="row">
    <div class="col-md-12" style="padding-bottom: 20px !important;">
        {% if preview %}
        <h4 style="font-weight: bold !important;">Document View</h4>
        {% else %}
        <h4 style="font-weight: bold !important;">Document Edit</h4>
        {% endif %}
        <p>Document ID: {{ document_id }}</p>
    </div>
</div>
{% endif %}
<div id="id_loading_container" class="text-center">
    <div class="loader"></div>
    <h3>Loading...</h3>
</div>
<div class="row" data-manage="{% if is_manage %}{{ is_manage }}{% else %}0{% endif %}"
     id="id_resource_container" data-resource-skip-url="{% url "aws_skip_resource_view" %}"
data-resource-id="{{ resource_id }}" data-resource-ping-url="{% url "aws_ping_resource_view" %}"
style="display: none;" data-doc-type="{{ resource_type }}" data-doc-id="{{ doc_id }}"
     data-resource-download-url="{% url "aws_resource_download" %}"
data-next-resource-url="{% url "aws_fetch_next_resource" %}">
    <div class="col-md-7">
        <div class="row">
            <div id="id_resource_image_container" class="col-md-12 doc-img-container">
                <input type="hidden" id="id_aws_resource_id_global"/>
                <div class="img-text-container text-center">
                  <h4>Patient ID:
                      <span id="id_patient_id">{% if patient_id %}{{ patient_id }}{% endif %}</span></h4>
                </div>
                <img id="id_resource_url" src="{% if resource_url %}{{ resource_url }}{% else %}#{% endif %}" alt="Document" style="width:100%">
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-md-5 document-form-area" id="id_document_form_container">
        <div class="doc_type_container">
          <select class="form-control" required="required" name="doc_type" id="id_doc_type">
              <option value="">Select Document Type</option>
              {% for doc_type_object in document_type_objects %}
                <option value="{{ doc_type_object.doc_type }}" {% if resource_type == doc_type_object.doc_type %}selected{% endif %}>{{ doc_type_object.doc_type }}</option>
              {% endfor %}
          </select>
        </div>

        {% for form_name, rendered_form in document_forms.items %}
        <div id="id_{{ form_name }}" class="document-form hide">
        {{ rendered_form }}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row" style="display: none;">
    <div class="col-md-12">
        <div class="col-md-12 pagn-container">
            <a href="#" class="next round pagn pull-right skip-btn">Skip >></a>
        </div>
    </div>
</div>
{% endblock body_content %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static "css/form_handles.css" %}"/>
<script src="{% static "js/vendor/jquery.sticky.js" %}"></script>
<script src="{% static "js/form_handles.js" %}"></script>
{% include "sections/form_loader.html" %}
<style type="text/css">
    {% if preview %}
{#        [readonly="readonly"],#}
{#        [readonly="readonly"]:focus,#}
{#        select[readonly="readonly"],#}
{#        select[readonly="readonly"]:focus,#}
{#        input[readonly="readonly"],#}
{#        input[readonly="readonly"]:focus,#}
{#        .content input[type="text"][readonly]:focus,#}
{#        textarea[readonly]:focus,#}
{#        select[readonly]:focus,#}
{#        .form-control[disabled], .form-control[readonly], fieldset[disabled]{#}
{#            background: none repeat scroll 0 0 transparent!important;#}
{#            border: medium none !important;#}
{#            color: #000000!important;#}
{#        }#}
    .form-control-proxy {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .form-control-proxy[disabled], .form-control-proxy[readonly], fieldset[disabled] .form-control-proxy {
        background-color: #eee;
        opacity: 1;
    }
    {% endif %}
</style>
<script>
$(document).ready(function () {
    //For Preview
    {% if preview %}
    $("#id_document_form_container").find(".form-control").each(function (index) {
        if($(this).is(":visible") || !$(this).isDisabled) {
            $(this).prop("readonly", "readonly");
            //$(this).replaceWith("<label>"+ $(this).val() +"</label>");
        }
    });
    $("#id_document_form_container").find("select").removeClass("form-control").addClass("form-control-proxy").prop("disabled", true);
    {% endif %}
});
</script>
{% endblock scripts %}
