{% extends 'manage.html' %}
{% load staticfiles %}
{% load ds %}
{% block manage_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--<div class="list-group panel">-->
                <!--<h4 class="panel-heading">Manage Users</h4>-->
                <!--<a class="list-group-item main-menu-item-head" href="{% url 'account_signup' %}">Create New User</a>-->
                <!--<a class="list-group-item main-menu-item-head" href="#">View/Edit Users</a>-->
            <!--</div>-->
            <div class="list-group panel">
                <h4 class="panel-heading">Upload Documents</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "upload" %}doc-active{% endif %}" href="{% url "manage_view" "document-upload" %}">Upload Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "approve" %}doc-active{% endif %}" href="{% url "manage_document_list_view" %}">Pending Approval</a>
            </div>
            <div class="list-group panel">
                <h4 class="panel-heading">Manage Documents</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "no" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=no">All Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "archived" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=archived">Archived Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "processed" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=processed">Processed Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "assigned" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=assigned">Assigned Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "unassigned" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=unassigned">Unassigned Documents</a>
            </div>
        </div>
        <div class="col-md-9">
            <h3>Upload Document</h3>
            <form name="document_upload_form" id="id_document_upload_form"
                  enctype="multipart/form-data" method="POST"
                  action="{% url "manage_document_upload_view" %}">
                <table class="table" cellspacing="0" width="90%">
                    <tbody>
                        <tr>
                            <td class="align-right">
                                Select Document Type
                            </td>
                            <td class="align-left">
                                {% csrf_token %}
                                {{ form.document }}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-right">
                                Browse File
                            </td>
                            <td class="align-left">
                                {{ form.file }}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-right">
                                Is Approved
                            </td>
                            <td class="align-left">
                                {{ form.is_approved }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br/>
                                <button style="width: 140px; " class="btn btn-primary btn-sm pull-right">Upload</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock manage_content %}
{% block scripts %}

    <style type="text/css">
        .main-menu-item-head {
            text-align: left;
        }
        .main-menu-item {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
        .child-item {
            text-align: left;
            padding-left: 40px;
        }
        .child-item {
            text-decoration: none;
        }
        .align-left {
            text-align: left !important;
        }
        .align-right {
            text-align: right !important;
        }
        .doc-active {
            font-weight: bold;
        }
        #id_document_upload_form tr td {
            text-align: left !important;
        }
    </style>
    <script type="text/javascript">

    </script>
{% endblock scripts %}