{% extends 'manage.html' %}
{% load staticfiles %}
{% load ds %}
{% block manage_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--<div class="list-group panel">-->
                <!--<h4 class="panel-heading">Manage Users</h4>-->
                <!--<a class="list-group-item main-menu-item-head" href="{% url 'account_signup' %}">Create New User</a>-->
                <!--<a class="list-group-item main-menu-item-head" href="#">View/Edit Users</a>-->
            <!--</div>-->
            <div class="list-group panel">
                <h4 class="panel-heading">Upload Documents</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "upload" %}doc-active{% endif %}" href="{% url "manage_view" "document-upload" %}">Upload Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "approve" %}doc-active{% endif %}" href="{% url "manage_document_list_view" %}">Pending Approval</a>
            </div>
            <div class="list-group panel">
                <h4 class="panel-heading">Manage Documents</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "no" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=no">All Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "archived" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=archived">Archived Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "processed" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=processed">Processed Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "assigned" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=assigned">Assigned Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "unassigned" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=unassigned">Unassigned Documents</a>
            </div>
        </div>
        <div class="col-md-9">
            <h3>Document List</h3>
            <table class="table" cellspacing="0" width="90%">
                <thead>
                    <tr>
                        <th class="align-left">
                            Document Image Name
                        </th>
                        <th class="align-left">
                            Document Type
                        </th>
                        <th class="align-left">
                            Document Status
                        </th>
                        <th class="align-left">
                            Upload Date
                        </th>
                        <th class="align-left">
                            Uploaded By
                        </th>
                        <th class="align-left">
                            Upload Channel
                        </th>
                        <th class="align-left">
                            Uploaded to AWS
                        </th>
                        <th class="align-left">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in object_list %}
                    <tr>
                        <td class="align-left">
                            {{ instance.original_file_name }}
                        </td>
                        <td class="align-left">
                            {{ instance.document.doc_type }}
                        </td>
                        <td class="align-left">
                            {% if instance.is_approved %}Approved{% else %}Pending Approval{% endif %}
                            {% if not instance.is_approved %}
                            <br/><a href="#" data-upload-id="{{ instance.pk }}" class="document-upload-approve">Approve</a>
                            {% endif %}
                        </td>
                        <td class="align-left">
                            {{ instance.date_created_verbose }}
                        </td>
                        <td class="align-left">
                            {% if instance.is_approved %}{{ instance.created_by.username }}{% else %}-{% endif %}
                        </td>
                        <td class="align-left">
                            {{ instance.request_source }}
                        </td>
                        <td class="align-left">
                            {% if instance.aws_upload_status %}Uploaded{% else %}Pending{% endif %}
                            {% if not instance.aws_upload_status %}
                            <br/><a href="#" data-upload-id="{{ instance.pk }}" class="document-upload-retry">Upload Now</a>
                            {% endif %}
                        </td>
                        <td class="align-left">
                            <a href="#">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="id_confirm_aws_upload_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure to upload now?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-doc-type=""
                data-doc-id="" id="id_modal_confirm_aws_upload_yes" data-upload-id="">Yes</button>
        <button type="button" class="btn btn-primary" id="id_modal_confirm_aws_upload_no">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="id_confirm_upload_approve_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure to approve now?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-doc-type=""
                data-doc-id="" id="id_modal_confirm_upload_approve_yes" data-upload-id="">Yes</button>
        <button type="button" class="btn btn-primary" id="id_modal_confirm_upload_approve_no">No</button>
      </div>
    </div>
  </div>
</div>
{% endblock manage_content %}
{% block scripts %}

    <style type="text/css">
        .main-menu-item-head {
            text-align: left;
        }
        .main-menu-item {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
        .child-item {
            text-align: left;
            padding-left: 40px;
        }
        .child-item {
            text-decoration: none;
        }
        .align-left {
            text-align: left !important;
        }
        .align-right {
            text-align: right !important;
        }
        .doc-active {
            font-weight: bold;
        }
        #id_document_upload_form tr td {
            text-align: left !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", ".document-upload-approve", function (e) {
                e.preventDefault();
                var upload_id = $(this).data("upload-id");
                $("#id_modal_confirm_upload_approve_yes").attr("data-upload-id", upload_id);
                $("#id_confirm_upload_approve_modal").modal("show");
                return false;
            });

            $(document).on("click", "#id_modal_confirm_upload_approve_yes", function (e) {
                e.preventDefault();
                var upload_id = $(this).data("upload-id");
                var doc_upload_approve_url = "{% url "document_submit_action_view" "approve-doc-upload" %}";
                call_ajax("POST", doc_upload_approve_url, { upload_id: upload_id }, function (data) {
                    window.location.reload();
                },
                function (jqxhr, status, error) {

                },
                function (msg) {

                });
                return false;
            });

            $(document).on("click", ".document-upload-retry", function (e) {
                e.preventDefault();
                var upload_id = $(this).data("upload-id");
                $("#id_modal_confirm_aws_upload_yes").attr("data-upload-id", upload_id);
                $("#id_confirm_aws_upload_modal").modal("show");
                return false;
            });

            $(document).on("click", "#id_modal_confirm_aws_upload_yes", function (e) {
                e.preventDefault();
                var upload_id = $(this).data("upload-id");
                var doc_upload_approve_url = "{% url "document_submit_action_view" "upload-document" %}";
                call_ajax("POST", doc_upload_approve_url, { upload_id: upload_id }, function (data) {
                    window.location.reload();
                },
                function (jqxhr, status, error) {

                },
                function (msg) {

                });
                return false;
            });

        });
    </script>
{% endblock scripts %}