{% extends 'manage.html' %}
{% load staticfiles %}
{% block manage_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group panel">
                <h4 class="panel-heading">Manage Documents</h4>
                {% for menu_name, menu_item in left_menu_document_items.items %}
                    {% with main_item_id=forloop.counter0 %}
                    <a class="list-group-item main-menu-item-head" {% if active_label == menu_item.name %}aria-expanded="true" {% endif %} href="#id_child_{{ main_item_id }}" data-toggle="collapse">{{ menu_item.label }}</a>

                        <div class="collapse  {% if active_label == menu_item.name %}in{% endif %} list-group-submenu" {% if active_label == menu_item.name %}aria-expanded="true" {% endif %} id="id_child_{{ main_item_id }}">
                        {% for child_item in menu_item.children %}
                            <div data-parent="#id_child_{{ main_item_id }}"
                                 class="child-item list-group-item {% if active_label == menu_item.name %}
                                 {% if child_item.name == active_document_type %}doc-active{% endif %}{% endif %}">
                                <a href="{{ child_item.url }}">{{ child_item.label }}</a>
                            </div>
                        {% endfor %}
                        </div>
                        {% endwith %}

                    <!--<div class="list-group-item {% if menu_item.name != active_label %}collapsed{% endif %}">-->

                    <!--</div>-->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: left;">
                            Code
                        </th>
                        <th style="text-align: left;">
                            Document Type
                        </th>
                        <th style="text-align: left;">
                            Submitted By
                        </th>
                        <th style="text-align: left;">
                            Status
                        </th>
                        <th style="text-align: left;">
                            Patient ID
                        </th>
                        <th style="text-align: left;">
                            Document UUID
                        </th>
                        <th style="text-align: left;">
                            Comment
                        </th>
                        {% if editable %}
                        <th style="text-align: left;">
                            Action
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if object_groups %}
                    <style type="text/css">
                        .first-row td {
                            border-bottom: none !important;
                            padding-top: 20px !important;
                        }
                        .middle-row td {
                            border-top: none !important;
                            border-bottom: none !important;
                        }
                        .last-row td {
                            border-top: none !important;
                            padding-bottom: 20px !important;
                        }
                    </style>
                    {% for doc_uuid, documents in object_groups.items %}
                        <style type="text/css">
                            .{{ doc_uuid }} {
                            }
                        </style>
                        {% with object_count=documents|length %}
                            {% for document in documents %}
                                <tr class="{{ doc_uuid }} {% if forloop.first %}first-row{% elif forloop.last %}last-row{% else %}middle-row{% endif %}" rowspan="{{ object_count }}">
                                    <td style="text-align: left;">
                                        {{ document.code }}
                                    </td>
                                    <td style="text-align: left;">
                                        {{ document.get_doc_type_verbal }}
                                    </td>
                                    <td style="text-align: left;">
                                        <span title="{{ document.user.email }}">{{ document.user.username }}({{ document.user.email|truncatechars:50 }})</span>
                                    </td>
                                    <td style="text-align: left;">
                                        {{ document.status }}
                                    </td>
                                    <td style="text-align: left;">
                                        <span title="{{ document.aws_resource.resource_id }}">{{ document.aws_resource.resource_id|truncatechars:10 }}</span>
                                    </td>
                                    <td style="text-align: left;">
                                        <span title="{{ document.aws_resource.resource_uuid }}">{{ document.aws_resource.resource_uuid|truncatechars:10 }}</span>
                                    </td>
                                    <td style="text-align: left;">
                                        {{ document.comment }}
                                    </td>
                                    {% if editable %}
                                    <td style="text-align: left;">
                                        <a data-doc-id="{{ document.pk }}" data-doc-type="{{ document.type.doc_type.lower }}" href="#" class="diff-detail">View Details</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                    {% elif object_list %}
                        {% for document in object_list %}
                                <tr class="{% if forloop.first %}first-row{% elif forloop.last %}last-row{% else %}middle-row{% endif %}">
                                    <td style="text-align: left;">
                                        {{ document.code }}
                                    </td>
                                    <td style="text-align: left;">
                                        {{ document.get_doc_type_verbal }}
                                    </td>
                                    <td style="text-align: left;">
                                        <span title="{{ document.user.email }}">{{ document.user.username }}({{ document.user.email|truncatechars:50 }})</span>
                                    </td>
                                    <td style="text-align: left;">
                                        {{ document.status }}
                                    </td>
                                    <td style="text-align: left;">
                                        <span title="{{ document.aws_resource.resource_id }}">{{ document.aws_resource.resource_id|truncatechars:10 }}</span>
                                    </td>
                                    <td style="text-align: left;">
                                        <span title="{{ document.aws_resource.resource_uuid }}">{{ document.aws_resource.resource_uuid|truncatechars:10 }}</span>
                                    </td>
                                    <td style="text-align: left;">
                                        {{ document.comment }}
                                    </td>
                                    {% if editable %}
                                    <td style="text-align: left;">
                                        <a data-doc-id="{{ document.pk }}" data-doc-type="{{ document.type.doc_type.lower }}" href="#" class="diff-detail">View Details</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "documents/unmatch_diff_view.html" %}
{% endblock manage_content %}
{% block scripts %}
    <style type="text/css">
        .main-menu-item-head {
            text-align: left;
        }
        .main-menu-item {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
        .child-item {
            text-align: left;
            padding-left: 40px;
        }
        .child-item {
            text-decoration: none;
        }
        .doc-active {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock scripts %}