{% extends 'manage_users.html' %}
{% block manage_content2 %}
<div class="row">
    <div class="col-md-12">
            <h4 style="text-align: left; margin-left: 40px; ">Create New User</h4>
            <hr/>
            <form method="POST" action="{% url 'manage_users_create_view' %}" id="id_signup_form">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            {{ signup_form.username }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ signup_form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ signup_form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ signup_form.password2 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ signup_form.is_active }} <label for="id_is_active">Is Active</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-lg btn-primary btn-block submit">Create User</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<table class="table">
    <tbody>
        <tr>
            <td>

            </td>
        </tr>
    </tbody>
</table>
<style type="text/css">
    #id_signup_form {
        max-width: 400px !important;
        margin-left: 40px;
    }
    .shadow-container {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      padding: 20px 20px 40px 20px !important;
    }
</style>
{% endblock manage_content2 %}