{% extends 'manage.html' %}
{% block manage_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group panel">
                <h4 class="panel-heading">Manage Users</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "user_create" %}menu-active{% endif %}" href="{% url 'manage_users_create_view' %}">Create New User</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "user_list" %}menu-active{% endif %}" href="{% url "manage_view" "users" %}">View/Edit Users</a>
            </div>
        </div>
        <div class="col-md-9">
            {% block manage_content2 %}

            {% endblock manage_content2 %}
        </div>
    </div>
</div>
{% endblock manage_content %}
{% block scripts %}
    <style type="text/css">
        .main-menu-item-head {
            text-align: left;
        }
        .main-menu-item {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
        .child-item {
            text-align: left;
            padding-left: 40px;
        }
        .child-item {
            text-decoration: none;
        }
        .doc-active {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock scripts %}