{% extends 'manage.html' %}
{% load staticfiles %}
{% block body_content %}
{% if is_manage == 1 %}
<div class="row">
    <div class="col-md-12" style="padding-bottom: 20px !important; font-weight: bold !important;">
        <h4>Document Edit</h4>
    </div>
</div>
{% endif %}
<div id="id_loading_container" class="text-center">
    <div class="loader"></div>
    <h3>Loading...</h3>
</div>
<div class="row" data-manage="{% if is_manage %}{{ is_manage }}{% else %}0{% endif %}" id="id_resource_container" data-resource-skip-url="{% url "aws_skip_resource_view" %}" data-resource-id="" data-resource-ping-url="{% url "aws_ping_resource_view" %}" style="display: none;"
     data-resource-download-url="{% url "aws_resource_download" %}" data-next-resource-url="{% url "aws_fetch_next_resource" %}">
    <div class="col-md-7">
        <div class="row">
            <div id="id_resource_image_container" class="col-md-12 doc-img-container">
                <input type="hidden" id="id_aws_resource_id_global"/>
                <div class="img-text-container text-center">
                  <h4>Patient ID:
                      <span id="id_patient_id"></span></h4>
                </div>
                <img id="id_resource_url" src="#" alt="Document" style="width:100%">

            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-md-5 document-form-area" id="id_document_form_container">
        <div class="doc_type_container">
          <select class="form-control" required="required" name="doc_type" id="id_doc_type">
              <option value="">Select Document Type</option>
              {% for doc_type_object in document_type_objects %}
                <option value="{{ doc_type_object.doc_type }}" {% if resource_type == doc_type_object.doc_type %}selected{% endif %}>{{ doc_type_object.doc_type }}</option>
              {% endfor %}
          </select>
        </div>

        {% for form_name, rendered_form in document_forms.items %}
        <div id="id_{{ form_name }}" class="document-form hide">
        {{ rendered_form }}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row" style="display: none;">
    <div class="col-md-12">
        <div class="col-md-12 pagn-container">
            <a href="#" class="next round pagn pull-right skip-btn">Skip >></a>
        </div>
    </div>
</div>
{% endblock body_content %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static "css/form_handles.css" %}"/>
<script src="{% static "js/vendor/jquery.sticky.js" %}"></script>
<script src="{% static "js/form_handles.js" %}"></script>
{% include "sections/form_loader.html" %}
{% endblock scripts %}