{% extends 'manage.html' %}
{% load staticfiles %}
{% block manage_content %}
<link rel="stylesheet" href="{% static "/css/vendor/jquery.dataTables.min.css" %}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="id_document_table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger</td>
                        <td>Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>$320,800</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "documents/unmatch_diff_view.html" %}
{% endblock manage_content %}
{% block scripts %}
    <script src="{% static "js/vendor/jquery.dataTables.min.js" %}"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_document_table').DataTable();
        });
    </script>
{% endblock scripts %}