{% extends 'manage.html' %}
{% load staticfiles %}
{% load ds %}
{% block manage_content %}
<link rel="stylesheet" href="{% static "/css/vendor/jquery.dataTables.min.css" %}">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--<div class="list-group panel">-->
                <!--<h4 class="panel-heading">Manage Users</h4>-->
                <!--<a class="list-group-item main-menu-item-head" href="{% url 'account_signup' %}">Create New User</a>-->
                <!--<a class="list-group-item main-menu-item-head" href="#">View/Edit Users</a>-->
            <!--</div>-->
            <div class="list-group panel">
                <h4 class="panel-heading">Upload Documents</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "upload" %}doc-active{% endif %}" href="{% url "manage_view" "document-upload" %}">Upload Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "approve" %}doc-active{% endif %}" href="{% url "manage_document_list_view" %}">Pending Approval</a>
            </div>
            <div class="list-group panel">
                <h4 class="panel-heading">Manage Documents</h4>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "no" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=no">All Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "archived" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=archived">Archived Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "processed" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=processed">Processed Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "assigned" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=assigned">Assigned Documents</a>
                <a class="list-group-item main-menu-item-head {% if active_left_item == "unassigned" %}doc-active{% endif %}" href="{% url "manage_view" "documents" %}?filter=unassigned">Unassigned Documents</a>
            </div>
        </div>
        <div class="col-md-9">
            <table id="id_document_table" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="text-align: left;">
                            Date Image Added
                        </th>
                        <th style="text-align: left;">
                            Type of Image
                        </th>
                        <th style="text-align: left;">
                            Status
                        </th>
                        <th style="text-align: left;">
                            View Data
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        {% with object_id=object.pk %}
                        {% with unmatch_found=unmatched_resource_ids|found_in:object_id %}
                        <tr {% if object_id in unmatched_resource_ids %}class="mark-edit"{% endif %}>
                            <td style="text-align: left;">
                                {{ object.get_date_added }}
                            </td>
                            <td style="text-align: left;">
                                {{ object.resource_type.doc_type }}
                            </td>
                            <td style="text-align: left;">
                                {% if unmatch_found %}
                                Unmatched
                                {% else %}
                                {{ object.status }}
                                {% endif %}
                            </td>
                            <td style="text-align: left;">
                                {% if unmatch_found %}
                                <a data-doc-id="{{ unmatched_document_dict|access_dict_by_key:object_id }}" data-doc-type="{{ object.resource_type.doc_type.lower }}" href="#" class="diff-detail">View Unmatch</a>
                                {% else %}
                                <a data-doc-id="{{ unmatched_document_dict|access_dict_by_key:object_id }}" data-doc-type="{{ object.resource_type.doc_type.lower }}" href="#" class="submission-detail">View Data</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "documents/unmatch_diff_view.html" %}
{% endblock manage_content %}
{% block scripts %}
    <script src="{% static "js/vendor/jquery.dataTables.min.js" %}"></script>
    <style type="text/css">
        .mark-edit {
            background-color: red !important;
            color: white !important;
        }
        .mark-edit td {
           color: white !important;
        }
        .mark-edit td a {
           color: white !important;
        }
        .main-menu-item-head {
            text-align: left;
        }
        .main-menu-item {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
        .child-item {
            text-align: left;
            padding-left: 40px;
        }
        .child-item {
            text-decoration: none;
        }
        .doc-active {
            font-weight: bold;
        }
        #id_document_table tr td {
            text-align: left !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_document_table').DataTable(
                    {
                        "processing": true,
                        "searching": false,
                        "serverSide": true,
                        "bInfo": false,
                        "ajax": "{% url "manage_document_fetch_view" %}?status={{ active_left_item }}",
                        "fnDrawCallback": function( oSettings ) {
                            $(".diff-detail").parent().parent().addClass("mark-edit");
                        }
                    }
            );

            $("select[name=id_document_table_length]").parent().remove();

//            $(document).on("click", ".paginate_button", function (e) {
//                e.preventDefault();
//                $(".diff-detail").parent().parent().addClass("mark-edit");
//                return false;
//            });

//            $("select[name=id_document_table_length]").remove();

        });
    </script>
{% endblock scripts %}