{% extends 'manage_users.html' %}
{% block manage_content2 %}
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Is Active
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td class="align-left">
                {{ object.username }}
            </td>
            <td class="align-left">
                {{ object.email }}
            </td>
            <td class="align-left">
                {% if object.is_active %}Yes{% else %}No{% endif %}
            </td>
            <td class="align-left">
                <a style="disabled: true; text-decoration: line-through;" href="#">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<style type="text/css">
    .align-left {
        text-align: left !important;
    }
</style>
{% endblock manage_content2 %}