{% extends "documents/master_document.html" %}
{% load staticfiles %}
{% block document_form_fields %}
    <div class="form-group">
        <table class="table borderless">
            <tr>
                <td>
                    {{ form.history }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.history_note }}
                </td>
            </tr>
        </table>
    </div>
{% endblock document_form_fields %}
{% block extra_scripts %}
<script src="{% static "js/doctors_note_form_submit_handler.js" %}"></script>
{% endblock extra_scripts %}