{% extends "documents/master_document.html" %}
{% load staticfiles %}
{% block document_form_fields %}
    <div class="form-group">
        {{ laboratory_test_formset.management_form }}
        {% for laboratorytest_form in laboratory_test_formset.forms %}
            <div class="tables">
            <div class="form-heading">Test Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
            <table class="table borderless hide" data-prefix="{{ laboratorytest_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                <tr>
                    <td>
                        {{ laboratorytest_form.id }}
                        {{ laboratorytest_form.test }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ laboratorytest_form.results }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ laboratorytest_form.min_value }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ laboratorytest_form.max_value }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ laboratorytest_form.actual_value }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ laboratorytest_form.unit }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ laboratorytest_form.notes }}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        <div class="add-more-btn-test">
            <a class="btn btn-default pull-right add-more-test" href="#">
                <span class="glyphicon glyphicon-plus"></span> Add More Test</a>
        </div>
    </div>
{% endblock document_form_fields %}
{% block extra_scripts %}
<script src="{% static "js/laboratory_form_submit_handler.js" %}"></script>
{% endblock extra_scripts %}