{% block document_body %}
<form class="form-horizontal" style="margin-top: -20px; padding: 0px 20px 20px 20px;" id="{{ form_id }}"
      data-action="{{ post_url }}" enctype="multipart/form-data"
      data-redirect-url="{% url "manage_view" "documents" %}?doc-type={{ doc_type }}&status={{ status }}"
/>
    {% csrf_token %}
    {% if form_title %}
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            {{ form.doc_id }}
            {{ form.doc_type_id }}
            {{ form.is_managed }}
            {{ form.ah_user_id }}
            {{ form.ah_aws_resource_id }}
            {{ form.comment }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top: 20px !important;">
            {% block document_form_fields %}

            {% endblock document_form_fields %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "documents/formsets/patient_formset.html" %}
            {% include "documents/formsets/facility_formset.html" %}
            {% include "documents/formsets/physician_formset.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block document_form_fields_extra %}

            {% endblock document_form_fields_extra %}
        </div>
    </div>
    {% if not preview %}
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-green sure {{ doc_type }}-submit">Sure</button>
            <button class="btn btn-amber slight-unsure {{ doc_type }}-submit">Slight Unsure</button>
            <button class="btn btn-red unsure {{ doc_type }}-submit">Unsure</button>
        </div>
    </div>
    {% endif %}
</form>
{% endblock document_body %}
{% block styles %}
<style type="text/css">
    .btn-green {
        background-color: green;
        color: white;
        width: 120px;
    }
    .btn-amber {
        background-color: #FFBF00;
        color: white;
        width: 120px;
    }
    .btn-red {
        background-color: red;
        color: white;
        width: 120px;
    }
    .borderless td, .borderless th {
        border: none !important;
    }
    .show-entity {
        cursor: pointer;
    }
    .error {
        border: 1px solid red;
    }
    .clear-table {
        color: blue;
        cursor: pointer;
    }
</style>
{% endblock styles %}

{% block scripts %}
<script>
    $(document).ready(function () {

    $(".hide_initial").removeClass("hide_initial").removeClass("hide");
    $(".add-more-btn").hide();

    $(".show-entity").parent().parent().find(".table").removeClass("hide");
    $(".show-entity").hide();


    window.clear_form = function(form_id) {
        var $form_instance = $("#" + form_id);
        $form_instance.find(".form-control").each(function (i) {
            var $element = $(this);
            var element_name = $element.prop("name");
            if(element_name != "doc_type_id" && element_name != "user_id" && element_name != "aws_resource_id") {
                $element.val("");
            }
        });
    }

    $(document).on("click", ".clear-table", function (e) {

        var all_tables = $(this).parent().parent().parent().parent().parent().find(".table");
        $(this).parent().parent().parent().find(".form-control").val("");
        $(this).parent().parent().remove();
        refresh_first_table_remove_icon();
    });

    $(document).on("focusout", ".form-control", function (e) {
        var value = $(this).val();
        if(!$(this).prop("required")) {
            return false;
        }
        if(value == "") {
            $(this).addClass("error");
        }
        else {
            $(this).removeClass("error");
        }
        return false
    });

    function refresh_first_table_remove_icon() {
        $(".tables").each(function (i) {
            var first_table = $(this).find(".table:first");
            var total_tables = $(this).find(".table").length;
            var id_value = first_table.find("[name$=-id]").val();
            if(id_value != "") {
                first_table.find(".remove-table").parent().parent().remove();
                first_table.find(".clear-table").parent().parent().remove();
                first_table.find("tbody").prepend("<tr><td><span class=\"pull-right clear-table\">Clear</span></td></tr>");
            }
            else {
                first_table.find(".remove-table").parent().parent().remove();
                first_table.find(".clear-table").parent().parent().remove();
                if(total_tables > 1) {
                    first_table.find("tbody").prepend("<tr><td><span class=\"pull-right remove-table close\">X</span></td></tr>");
                }
            }
        });
    }

    setTimeout(window.refresh_disabled, 500);

    $(document).on("click", ".show-entity", function (e) {

        if($(this).hasClass("glyphicon-plus")) {
            $(this).parent().parent().find(".table").removeClass("hide");
            //$(this).parent().parent().parent().find(".add-more-btn").removeClass("hide");
            $(this).removeClass("glyphicon-plus").addClass("glyphicon-minus");
            refresh_disabled();
        }
        else {
            $(this).parent().parent().find(".table").addClass("hide");
            //$(this).parent().parent().parent().find(".add-more-btn").addClass("hide");
            $(this).removeClass("glyphicon-minus").addClass("glyphicon-plus");
            refresh_disabled();
        }
        return false;
    });

    window.validate_form_submission = function(form_id) {
        var all_form_elements = $("#"+form_id).find(".form-control");
        for(var i = 0 ; i < all_form_elements.length ; i++) {
            var element = all_form_elements[i];
            if($(element).prop("required")) {
                var value = $(element).val();
                if(value == "") {
                    console.log($(element).prop("name"));
                    return false;
                }
            }
        }
        return true;
    }

    window.show_form_errors = function(form_id) {
        var all_form_elements = $("#"+form_id).find(".form-control");
        for(var i = 0 ; i < all_form_elements.length ; i++) {
            var element = all_form_elements[i];
            if($(element).prop("required")) {
                var value = $(element).val();
                if(value == "") {
                    $(element).addClass("error");
                }
            }
        }
        refresh_disabled();
    }



    //$(".datepicker").datepicker();

    $('body').on('focus',".datepicker", function(){
        $(this).datepicker();
    })

    //$(".datepicker").datetimepicker();

    function place_data_in_fields(this_object, object_type, data) {
        if(object_type == "patient") {
            var $container_table = $(this_object).parent().parent().parent();
            $container_table.find("[name$=-id]").val(data.id);
            $container_table.find("[name$=-name]").val(data.name);
            $container_table.find("[name$=-patient_id]").val(data.patient_id);
            $container_table.find("[name$=-date_of_birth]").val(data.date_of_birth);
            $container_table.find("[name$=-phone]").val(data.phone);
        }
        else if(object_type == "facility") {
            var $container_table = $(this_object).parent().parent().parent();
            $container_table.find("[name$=-id]").val(data.id);
            $container_table.find("[name$=-name]").val(data.name);
            $container_table.find("[name$=-facility_id]").val(data.facility_id);
            $container_table.find("[name$=-country]").val(data.country_id);
            $container_table.find("[name$=-city]").val(data.city_id);
            $container_table.find("[name$=-phone]").val(data.phone);
            $container_table.find("[name$=-email]").val(data.email);
            $container_table.find("[name$=-address]").val(data.address);
        }
        else if(object_type == "physician") {
            var $container_table = $(this_object).parent().parent().parent();
            $container_table.find("[name$=-id]").val(data.id);
            $container_table.find("[name$=-name]").val(data.name);
            $container_table.find("[name$=-physician_id]").val(data.facility_id);
            $container_table.find("[name$=-phone]").val(data.country_id);
            $container_table.find("[name$=-affilicated_facility]").val(data.city_id);
            $container_table.find("[name$=-spe]").val(data.phone);
            $container_table.find("[name$=-email]").val(data.email);
            $container_table.find("[name$=-address]").val(data.address);
        }
    }

        $(document).on("keyup", ".typeahead", function (e) {
            if($(this).val() != "") {
                $(this).parent().parent().parent().find(".hide_initial").removeClass("hide");
                refresh_disabled();
            }
        });

        window.add_more_click_handler = function(e) {
            e.preventDefault();
            refresh_disabled();

            var $last_table = $(this).parent().parent().find(".table:last");
            var first_element_name = $last_table.find("[name$=-name]").prop("name");
            var last_form_prefix = $last_table.data("prefix");
            var last_prefix_index = $last_table.data("prefix-index");
            var only_prefix = last_form_prefix.replace("-"+last_prefix_index, "");
            var $cloned_table = $last_table.clone();

            var new_index = parseInt(last_prefix_index) + 1;
            $cloned_table.find(".form-control").each(function (i) {
                var name = $(this).prop("name");
                name = name.replace("-" + last_prefix_index, "-" + new_index);
                $(this).val("");
                $(this).prop("name", name);
            });

            $cloned_table.find(".remove-table").parent().parent().remove();

            //update data property
            $cloned_table.data("prefix", last_form_prefix.replace("-" + last_prefix_index, "-" + new_index));
            $cloned_table.data("prefix-index", new_index);

            $cloned_table.find(".hide_initial").addClass("hide");

            var close_row = "<tr><td><span class=\"pull-right remove-table close\">X</span></td></tr>";
            $cloned_table.find("tr:first").before(close_row);

            $cloned_table.find(".form-control").removeClass("error");

            $cloned_table.find(".clear-table").parent().parent().remove();

            $(this).parent().parent().find(".tables").append($cloned_table);

            var total_forms = $(this).parent().parent().find("[name$=-TOTAL_FORMS]").val();
            total_forms = parseInt(total_forms);

            total_forms += 1;
            $(this).parent().parent().find("[name$=-TOTAL_FORMS]").val(total_forms);

            return false;
        }

        $(".add-more").click(add_more_click_handler);

        $(document).on("click", ".remove-table", function (e) {
            var total_forms = $(this).parent().parent().parent().parent().parent().parent().find("[name$=-TOTAL_FORMS]").val();
            total_forms = parseInt(total_forms);

            total_forms -= 1;
            $(this).parent().parent().parent().parent().parent().parent().find("[name$=-TOTAL_FORMS]").val(total_forms);
            $(this).parent().parent().parent().parent().remove();
            refresh_disabled();
        });
    });
</script>
{% endblock scripts %}
{% block extra_scripts %}
{% endblock extra_scripts %}
