{% extends "documents/master_document.html" %}
{% load staticfiles %}
{% block document_form_fields %}
    <div class="form-group">
        <table class="table borderless">
            <tr>
                <td>
                    {{ form.date }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.accession }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.clinical_history }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.bill_to }}
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        {{ doctor_formset.management_form }}
        {% for doctor_form in doctor_formset.forms %}
        <div class="tables">
            <div class="form-heading">Doctor Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
            <table class="table borderless hide" data-prefix="{{ doctor_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                <tr>
                    <td>
                        {{ doctor_form.id }}
                        {{ doctor_form.name }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ doctor_form.phone }}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        <div class="hide add-more-btn">
            <a class="btn btn-default pull-right add-more" href="#"><span class="glyphicon glyphicon-plus"></span> Add Doctor</a>
        </div>
    </div>
{% endblock document_form_fields %}
{% block document_form_fields_extra %}
<div class="form-group">
    <div class="form-heading">Radiology</div>
    <table class="table borderless">
        <tr>
            <td>
                {{ form.routing }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.body_part }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.series_description }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.images_count }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.study_datetime }}
            </td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="form-heading">Laboratory</div>
    <table class="table borderless">
        <tr>
            <td>
                {{ form.modality }}
            </td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="form-heading">Eye Services</div>
    <table class="table borderless">
        <tr>
            <td>
                {{ form.diabetic_retinopathy_screening }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.eye_services_details }}
            </td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="form-heading">Dental Services</div>
    <table class="table borderless">
        <tr>
            <td>
                {{ form.dental_details }}
            </td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="form-heading">Cardiac Tests</div>
    <table class="table borderless">
        <tr>
            <td>
                {{ form.examination }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.cardiac_test_details }}
            </td>
        </tr>
    </table>
</div>
{% endblock document_form_fields_extra %}
{% block extra_scripts %}
<script src="{% static "js/order_ticket_form_submit_handler.js" %}"></script>
{% endblock extra_scripts %}