{% extends "documents/master_document.html" %}
{% load staticfiles %}
{% block document_body %}
<form class="form-horizontal" style="padding: 0px 20px 20px 20px;" id="id_otherdocform"
      data-action="{{ post_url }}" enctype="multipart/form-data"
      data-redirect-url="{% url "manage_view" "documents" %}?doc-type=other-document&status=unmatched"
/>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <table class="table borderless">
                    <tr>
                        <td>
                            {{ form.doc_id }}
                            {{ form.doc_type_id }}
                            {{ form.is_managed }}
                            {{ form.ah_user_id }}
                            {{ form.ah_aws_resource_id }}
                            {{ form.comment }}
                            {{ form.notes }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-heading">Other Information</div>
            {{ form.other_information }}
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-green sure other-doc-submit">Sure</button>
            <button class="btn btn-amber slight-unsure other-doc-submit">Slight Unsure</button>
            <button class="btn btn-red unsure other-doc-submit">Unsure</button>
        </div>
    </div>
</form>
{% endblock document_body %}
{% block extra_scripts %}
<script src="{% static "js/other_doc_form_submit_handler.js" %}"></script>
{% endblock extra_scripts %}
