{% extends "documents/master_document.html" %}
{% load staticfiles %}
{% block document_form_fields %}
    <div class="form-group">
        {{ prescribed_drug_formset.management_form }}
        {% for prescribed_drug_form in prescribed_drug_formset.forms %}
        <div class="tables">
            <div class="form-heading">Prescribed Drug Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
            <table class="table borderless hide" data-prefix="{{ prescribed_drug_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                <tr>
                    <td>
                        {{ prescribed_drug_form.id }}
                        {{ prescribed_drug_form.drug_details }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ prescribed_drug_form.frequency }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ prescribed_drug_form.drug_type }}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        <div class="add-more-btn-drug">
            <a class="btn btn-default pull-right add-more-drug" href="#"><span class="glyphicon glyphicon-plus"></span> Add More Drug</a>
        </div>
    </div>
{% endblock document_form_fields %}
{% block extra_scripts %}
<script src="{% static "js/prescription_form_submit_handler.js" %}"></script>
{% endblock extra_scripts %}