{% extends "documents/master_document.html" %}
{% load staticfiles %}
{% block document_form_fields %}
    <div class="form-group">
        <table class="table borderless">
            <tr>
                <td>
                    {{ form.procedure }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.clinic_info }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.findings }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.impression }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.imaging_date }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.reporting_at_date }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.reporting_radiologist_name }}
                </td>
            </tr>
        </table>
    </div>
{% endblock document_form_fields %}
{% block extra_scripts %}
<script src="{% static "js/radiology_form_submit_handler.js" %}"></script>
{% endblock extra_scripts %}