<form class="form-horizontal" style="padding: 0px 20px 20px 20px;" id="id_radiologyform" data-action="{{ post_url }}" enctype="multipart/form-data"/>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <table class="table borderless">
                    <tr>
                        <td>
                            {{ form.doc_type_id }}
                            {{ form.user_id }}
                            {{ form.aws_resource_id }}
                            {{ form.comment }}
                            {{ form.country }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.radio_type }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.clinic_info }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.comparison }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.findings }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.impression }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.imaging_date }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                {{ patient_formset.management_form }}
                {% for patient_form in patient_formset.forms %}
                <div class="tables">
                    <div class="form-heading">Patient Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
                    <table class="table borderless hide" data-prefix="{{ patient_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                        <tr>
                            <td>
                                {{ patient_form.id }}
                                {{ patient_form.name }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ patient_form.patient_id }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ patient_form.date_of_birth }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ patient_form.phone }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                <div class="hide add-more-btn">
                    <a class="btn btn-default pull-right add-more" href="#"><span class="glyphicon glyphicon-plus"></span> Add Patient</a>
                </div>
            </div>
            <div class="form-group">
                {{ facility_formset.management_form }}
                {% for facility_form in facility_formset.forms %}
                    <div class="tables borderless">
                    <div class="form-heading">Facility Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
                    <table class="table hide" data-prefix="{{ facility_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                        <tr>
                            <td>
                                {{ facility_form.id }}
                                {{ facility_form.name }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ facility_form.city }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ facility_form.facility_id }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ facility_form.phone }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ facility_form.email }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ facility_form.address }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                <div class="hide add-more-btn">
                    <a class="btn btn-default pull-right add-more" href="#"><span class="glyphicon glyphicon-plus"></span> Add Facility</a>
                </div>
            </div>
            <div class="form-group">
                {{ physician_formset.management_form }}
                {% for physician_form in physician_formset.forms %}
                    <div class="tables">
                    <div class="form-heading">Physician Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
                    <table class="table borderless hide" data-prefix="{{ physician_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                        <tr>
                            <td>
                                {{ physician_form.id }}
                                {{ physician_form.name }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ physician_form.physician_id }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ physician_form.phone }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ physician_form.affilicated_facility }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ physician_form.spe }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ physician_form.email }}
                            </td>
                        </tr>
                        <tr class="hide_initial hide">
                            <td>
                                {{ physician_form.address }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                <div class="hide add-more-btn">
                    <a class="btn btn-default pull-right add-more" href="#">
                        <span class="glyphicon glyphicon-plus"></span> Add Physician</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-green sure radiology-submit">Sure</button>
            <button class="btn btn-amber slight-unsure radiology-submit">Slight Unsure</button>
            <button class="btn btn-red unsure radiology-submit">Unsure</button>
        </div>
    </div>
</form>
<style type="text/css">
    .btn-green {
        background-color: green;
        color: white;
        width: 120px;
    }
    .btn-amber {
        background-color: #FFBF00;
        color: white;
        width: 120px;
    }
    .btn-red {
        background-color: red;
        color: white;
        width: 120px;
    }
    .borderless td, .borderless th {
        border: none !important;
    }
    .show-entity {
        cursor: pointer;
    }
    .error {
        border: 1px solid red;
    }
    .clear-table {
        color: blue;
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        
    $(document).on("click", ".clear-table", function (e) {

        var all_tables = $(this).parent().parent().parent().parent().parent().find(".table");
        $(this).parent().parent().parent().find(".form-control").val("");
        $(this).parent().parent().remove();
        refresh_first_table_remove_icon();
    });
        
    $(document).on("focusout", ".form-control", function (e) {
        var value = $(this).val();
        if(!$(this).prop("required")) {
            return false;
        }
        if(value == "") {
            $(this).addClass("error");
        }
        else {
            $(this).removeClass("error");
        }
        return false
    });
        
    function refresh_first_table_remove_icon() {
        $(".tables").each(function (i) {
            var first_table = $(this).find(".table:first");
            var total_tables = $(this).find(".table").length;
            var id_value = first_table.find("[name$=-id]").val();
            if(id_value != "") {
                first_table.find(".remove-table").parent().parent().remove();
                first_table.find(".clear-table").parent().parent().remove();
                first_table.find("tbody").prepend("<tr><td><span class=\"pull-right clear-table\">Clear</span></td></tr>");
            }
            else {
                first_table.find(".remove-table").parent().parent().remove();
                first_table.find(".clear-table").parent().parent().remove();
                if(total_tables > 1) {
                    first_table.find("tbody").prepend("<tr><td><span class=\"pull-right remove-table close\">X</span></td></tr>");
                }
            }
        });
    }

    setTimeout(window.refresh_disabled, 500);
        
    $(document).on("click", ".show-entity", function (e) {
        if($(this).hasClass("glyphicon-plus")) {
            $(this).parent().parent().find(".table").removeClass("hide");
            $(this).parent().parent().parent().find(".add-more-btn").removeClass("hide");
            $(this).removeClass("glyphicon-plus").addClass("glyphicon-minus");
            refresh_disabled();
        }
        else {
            $(this).parent().parent().find(".table").addClass("hide");
            $(this).parent().parent().parent().find(".add-more-btn").addClass("hide");
            $(this).removeClass("glyphicon-minus").addClass("glyphicon-plus");
            refresh_disabled();
        }
        return false;
    });
        
    function validate_radiology_submission() {
        var all_form_elements = $("#id_radiology_form").find(".form-control");
        for(var i = 0 ; i < all_form_elements.length ; i++) {
            var element = all_form_elements[i];
            if($(element).prop("required")) {
                var value = $(element).val();
                if(value == "") {
                    return false;
                }
            }
        }
        return true;
    }
        
    function show_form_errors() {
        var all_form_elements = $("#id_radiology_form").find(".form-control");
        for(var i = 0 ; i < all_form_elements.length ; i++) {
            var element = all_form_elements[i];
            if($(element).prop("required")) {
                var value = $(element).val();
                if(value == "") {
                    $(element).addClass("error");
                }
            }
        }
        refresh_disabled();
    }
        
    $(document).on("click", ".radiology-submit", function (e) {
        e.preventDefault();

        var confidence = "";
        if($(this).hasClass("sure")) {
            confidence = "sure";
        }
        else if($(this).hasClass("slight-unsure")) {
            confidence = "slight unsure";
        }
        else {
            confidence = "unsure";
        }

        $("#id_comment").val(confidence);

        var valid = validate_radiology_submission();

        if(valid) {
            $("#id_full_overlay").show();
            $("#id_full_overlay").find(".loader").show();
            $("#id_full_overlay").find(".saving-text").show();
            $("#id_error_overlay").hide();
            $("#id_success_overlay").hide();
            var action_url = $("#id_radiologyform").data("action");
            var form_data = $("#id_radiologyform").serialize();
            call_ajax("POST", action_url, form_data, function (data) {
                if(data.status == "SUCCESS") {
                    if(data.code == 1000) {
                        show_overlay_only_for("success");
                    }
                    else {
                        show_overlay_only_for("server_error");
                    }
                }
                else {
                    show_overlay_only_for("server_error");
                }
            },
            function (jqxhr, status, error) {
                show_overlay_only_for("server_error");
            },
            function (msg) {

            })
        }
        else {
            window.show_overlay_only_for("form_error");
            show_form_errors();
        }

        return false;
    });

    //$(".datepicker").datepicker();

    $('body').on('focus',".datepicker", function(){
        $(this).datepicker();
    })

    //$(".datepicker").datetimepicker();

    function place_data_in_fields(this_object, object_type, data) {
        if(object_type == "patient") {
            var $container_table = $(this_object).parent().parent().parent();
            $container_table.find("[name$=-id]").val(data.id);
            $container_table.find("[name$=-name]").val(data.name);
            $container_table.find("[name$=-patient_id]").val(data.patient_id);
            $container_table.find("[name$=-date_of_birth]").val(data.date_of_birth);
            $container_table.find("[name$=-phone]").val(data.phone);
        }
        else if(object_type == "facility") {
            var $container_table = $(this_object).parent().parent().parent();
            $container_table.find("[name$=-id]").val(data.id);
            $container_table.find("[name$=-name]").val(data.name);
            $container_table.find("[name$=-facility_id]").val(data.facility_id);
            $container_table.find("[name$=-country]").val(data.country_id);
            $container_table.find("[name$=-city]").val(data.city_id);
            $container_table.find("[name$=-phone]").val(data.phone);
            $container_table.find("[name$=-email]").val(data.email);
            $container_table.find("[name$=-address]").val(data.address);
        }
        else if(object_type == "physician") {
            var $container_table = $(this_object).parent().parent().parent();
            $container_table.find("[name$=-id]").val(data.id);
            $container_table.find("[name$=-name]").val(data.name);
            $container_table.find("[name$=-physician_id]").val(data.facility_id);
            $container_table.find("[name$=-phone]").val(data.country_id);
            $container_table.find("[name$=-affilicated_facility]").val(data.city_id);
            $container_table.find("[name$=-spe]").val(data.phone);
            $container_table.find("[name$=-email]").val(data.email);
            $container_table.find("[name$=-address]").val(data.address);
        }
    }

    var fetch_document_url = "{% url "document_fetch_view" %}";
    $( ".patient-typeahead" ).autocomplete({
      source: fetch_document_url+"?q=" + $(this).val() + "&doc=patient",
      focus: function( event, ui ) {
          $(this).val( ui.item.name );
          return false;
      },
      select: function( event, ui ) {
        var id = ui.item.id;
        $(this).val( ui.item.name );
        place_data_in_fields($(this), "patient", ui.item);
        refresh_first_table_remove_icon();
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.name + "<br>" + item.date_of_birth + "</div>" )
        .appendTo( ul );
    };


    $( ".facility-typeahead" ).autocomplete({
      source: fetch_document_url+"?q=" + $(this).val() + "&doc=facility",
      focus: function( event, ui ) {
          $(this).val( ui.item.name );
          return false;
      },
      select: function( event, ui ) {
        var id = ui.item.id;
        $(this).val( ui.item.name );
        place_data_in_fields($(this), "facility", ui.item);
        refresh_first_table_remove_icon();
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.name + "<br>" + item.address + "</div>" )
        .appendTo( ul );
    };

    $( ".physician-typeahead" ).autocomplete({
      source: fetch_document_url+"?q=" + $(this).val() + "&doc=physician",
      focus: function( event, ui ) {
          $(this).val( ui.item.name );
          return false;
      },
      select: function( event, ui ) {
        var id = ui.item.id;
        $(this).val( ui.item.name );
        place_data_in_fields($(this), "physician", ui.item);
        refresh_first_table_remove_icon();
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.name + "<br>" + item.address + "</div>" )
        .appendTo( ul );
    };

        $(document).on("keyup", ".typeahead", function (e) {
            if($(this).val() != "") {
                $(this).parent().parent().parent().find(".hide_initial").removeClass("hide");
                refresh_disabled();
            }
        });
        
        $(".add-more").click(function (e) {
            e.preventDefault();
            refresh_disabled();

            var $last_table = $(this).parent().parent().find(".table:last");
            var first_element_name = $last_table.find("[name$=-name]").prop("name");
            var last_form_prefix = $last_table.data("prefix");
            var last_prefix_index = $last_table.data("prefix-index");
            var only_prefix = last_form_prefix.replace("-"+last_prefix_index, "");
            var $cloned_table = $last_table.clone();

            var new_index = parseInt(last_prefix_index) + 1;
            $cloned_table.find(".form-control").each(function (i) {
                var name = $(this).prop("name");
                name = name.replace("-" + last_prefix_index, "-" + new_index);
                $(this).val("");
                $(this).prop("name", name);
            });

            $cloned_table.find(".remove-table").parent().parent().remove();

            //update data property
            $cloned_table.data("prefix", last_form_prefix.replace("-" + last_prefix_index, "-" + new_index));
            $cloned_table.data("prefix-index", new_index);

            $cloned_table.find(".hide_initial").addClass("hide");

            var close_row = "<tr><td><span class=\"pull-right remove-table close\">X</span></td></tr>";
            $cloned_table.find("tr:first").before(close_row);

            $cloned_table.find(".form-control").removeClass("error");

            $cloned_table.find(".clear-table").parent().parent().remove();

            $(this).parent().parent().find(".tables").append($cloned_table);

            var total_forms = $(this).parent().parent().find("[name$=-TOTAL_FORMS]").val();
            total_forms = parseInt(total_forms);

            total_forms += 1;
            $(this).parent().parent().find("[name$=-TOTAL_FORMS]").val(total_forms);

            return false;
        });
        
        $(document).on("click", ".remove-table", function (e) {
            var total_forms = $(this).parent().parent().parent().parent().parent().parent().find("[name$=-TOTAL_FORMS]").val();
            total_forms = parseInt(total_forms);

            total_forms -= 1;
            $(this).parent().parent().parent().parent().parent().parent().find("[name$=-TOTAL_FORMS]").val(total_forms);
            $(this).parent().parent().parent().parent().remove();
            refresh_disabled();
        });
        
    });
</script>