{% load staticfiles %}
<div id="id_unmatch_cover">
    <div class="container cover-body" id="id_diff_loader">
        <span class="pull-right close-doc-popup-win">X</span>
        <div class="loader-container">
            <div class="loader centered">
            </div>
        </div>
        <style type="text/css">
            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
                margin-left: auto;
                margin-right: auto;
            }
            .loader-container {
                margin-top: 200px;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>
    </div>
    <div class="container cover-body" id="id_diff_content" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right close-doc-popup-win">X</span>
                <h4>Unmatched Documents</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Document ID: <span id="id_current_doc_id"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Submission on the same document:
                <table class="table" id="id_diff_submission_content">
                <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Document Type
                        </th>
                        <th>
                            Submitted By
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
        </div>
        <div class="row" id="id_diff_scrollable">
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <select class="form-control" id="id_select_doc1">

                </select>
                <div id="id_document1">
                </div>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="id_select_doc2">
                    <option>Select Document</option>
                </select>
                <div id="id_document2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="height: 20px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img id="id_unmatch_resource_url" src="#" alt="Document" style="width:100%">
            </div>
            <div class="col-md-6" id="id_document_diff">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
        #id_unmatch_cover{
            position:fixed;
            top:0;
            left:0;
            background:rgba(0,0,0,0.6);
            z-index:5;
            width: 100%;
            height:100%;
            padding: 40px;
            display:none;
        }
        .cover-body {
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;
            width: 90%;
            height: 100%;
            overflow-y: auto;
        }
        #id_document1, #id_document2 {
            display: none;
        }
        table.diff {
            width: 100% !important;
        }
        .close-doc-popup-win {
            cursor: pointer;
            font-weight: bold;
            font-size: 30px;
            margin-top: 9px;
            margin-right: 9px;
        }
    #id_select_doc1 {
        max-width: 400px;
        float: left;
    }
    #id_select_doc2 {
        max-width: 400px;
        float: right;
    }
</style>
<link rel="stylesheet" href="{% static "css/vendor/diffview.css" %}"/>
<script src="{% static "js/vendor/difflib.js" %}"></script>
<script src="{% static "js/vendor/diffview.js" %}"></script>
<script type="text/javascript">

$(document).ready(function () {

    function diffUsingJS(doc1_title, doc2_title) {
        var text1 = $("#id_document1").text();
        var text2 = $("#id_document2").text();

        text1 = difflib.stringAsLines(text1);
        text2 = difflib.stringAsLines(text2);

        var sm = new difflib.SequenceMatcher(text1, text2);

        var opcodes = sm.get_opcodes();

        var $output_element = $("#id_document_diff");

        var output = diffview.buildView({
            baseTextLines: text1,
            newTextLines: text2,
            opcodes: opcodes,
            baseTextName: doc1_title,
            newTextName: doc2_title,
            contextSize: null,
            viewType: 0
        });
        $output_element.html(output);
    }

    function load_document_content(doc_type, doc_id, div_id) {
        var url = "/manage/document-content/" + doc_type + "/?id=" + doc_id;
        call_ajax("GET", url, {}, function (data) {
            if(data.status == "SUCCESS") {
                $("#" + div_id).html(data.data.text);

                var title1 = $("#id_select_doc1 option:selected").text();
                var title2 = $("#id_select_doc2 option:selected").text();

                diffUsingJS(title1, title2);
            }
            else {

            }
        },
        function (jqxhr, status, error) {

        },
        function (msg) {

        });
    }

    $("#id_select_doc1").change(function (e) {
        var doc_id = $(this).val();
        load_document_content("radiology", doc_id, "id_document1");
    });

    $("#id_select_doc2").change(function (e) {
        var doc_id = $(this).val();
        load_document_content("radiology", doc_id, "id_document2");
    });

    $(".close-doc-popup-win").click(function (e) {
        e.preventDefault();
        $("#id_unmatch_cover").hide();
    });

    $(document).on("click", ".unmatch-approve", function (e) {
        e.preventDefault();
        var doc_type = $(this).data("doc-type");
        var doc_id = $(this).data("doc-id");
        $("#id_modal_confirm_yes").attr("data-doc-type", doc_type);
        $("#id_modal_confirm_yes").attr("data-doc-id", doc_id);
        $("#id_confirm_modal").modal('show');
        return false;
    });

    $(document).on("click", "#id_modal_confirm_yes", function (e) {
        e.preventDefault();
        var doc_type = $(this).data("doc-type");
        var doc_id = $(this).data("doc-id");
        var doc_approve_url = "{% url "document_submit_action_view" "approve" %}";
        call_ajax("POST", doc_approve_url, { doc_type: doc_type, doc_id: doc_id }, function (data) {
            if(data.status == "SUCCESS") {
                console.log(data.data.redirect_url);
                window.location.href = data.data.redirect_url;
            }
            else {

            }
        },
        function (jqxhr, status, error) {

        },
        function (msg) {

        });
        return false;
    });

    $(document).on("click", "#id_modal_confirm_no", function (e) {
        e.preventDefault();
        $("#id_confirm_modal").modal('hide');
        return false;
    });
    
    $(document).on("click", ".diff-detail", function (e) {
        e.preventDefault();

        $("#id_diff_loader").show();
        $("#id_diff_content").hide();

        $("#id_unmatch_cover").fadeIn(500);

        var doc_id = $(this).data("doc-id");
        var doc_type = $(this).data("doc-type");

        var url = "/manage/submissions/"+ doc_type +"/" + doc_id;

        call_ajax("GET", url, {}, function (data) {
            var current_doc_id = data.data.current_doc_id;
            var items = data.data.items;
            $("#id_current_doc_id").text(current_doc_id);
            var rows = "";
            for(var i = 0 ; i < items.length ; i++) {
                var item = items[i];
                var row = "<tr>";
                row += "<td style=\"text-align: left;\">" + item.code + "</td>";
                row += "<td style=\"text-align: left;\">" + item.doc_type + "</td>";
                row += "<td style=\"text-align: left;\">" + item.submitted_by + "</td>";
                row += "<td style=\"text-align: left;\">" + item.status + "</td>";
                row += "<td style=\"text-align: left;\">" + item.comment + "</td>";
                row += "<td style=\"text-align: left;\">" + item.edit_link + " | "+ item.approve_link + "</td>";
                row += "</tr>";
                rows += row;
            }
            $("#id_diff_submission_content").find("tbody").html(rows);

            var select_doc1 = "";
            for(var i = 0 ; i < data.data.select_data.length ; i++) {
                 var item = data.data.select_data[i];
                 if(item.id == data.data.select1) {
                     select_doc1 += "<option value='" + item.id + "' selected='selected'>" + item.label + "</option>";
                 }
                 else {
                     select_doc1 += "<option value='" + item.id + "'>" + item.label + "</option>";
                 }
            }
            $("#id_select_doc1").html(select_doc1);

            var select_doc2 = "";
            for(var i = 0 ; i < data.data.select_data.length ; i++) {
                 var item = data.data.select_data[i];
                 if(item.id == data.data.select2) {
                     select_doc2 += "<option value='" + item.id + "' selected='selected'>" + item.label + "</option>";
                 }
                 else {
                     select_doc2 += "<option value='" + item.id + "'>" + item.label + "</option>";
                 }
            }

            $("#id_unmatch_resource_url").prop("src", data.data.resource_url);

            $("#id_select_doc2").html(select_doc2);

            $("#id_document1").html(data.data.text1);
            $("#id_document2").html(data.data.text2);

            diffUsingJS(data.data.text1_heading, data.data.text2_heading);

            $("#id_diff_loader").hide();
            $("#id_diff_content").show();
        },
        function (jqxhr, status, error) {

        },
        function (msg) {

        });

    });

});

</script>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="id_confirm_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure to approve?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-doc-type="" data-doc-id="" id="id_modal_confirm_yes">Yes</button>
        <button type="button" class="btn btn-primary" id="id_modal_confirm_no">No</button>
      </div>
    </div>
  </div>
</div>