{% load staticfiles %}
<div id="id_document_view_cover">
    <div class="container cover-body" id="id_document_view_loader">
        <span class="pull-right close-doc-popup-win">X</span>
        <div class="loader-container">
            <div class="loader centered">
            </div>
        </div>
        <style type="text/css">
            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
                margin-left: auto;
                margin-right: auto;
            }
            .loader-container {
                margin-top: 200px;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>
    </div>
    <div class="container cover-body" id="id_document_view_content" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right close-doc-popup-win">X</span>
                <h4>View Document Data</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="height: 20px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img id="id_document_data_resource_url" src="#" alt="Document" style="width:100%">
            </div>
            <div class="col-md-6" id="id_document_data">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
        #id_document_view_cover{
            position:fixed;
            top:0;
            left:0;
            background:rgba(0,0,0,0.6);
            z-index:5;
            width: 100%;
            height:100%;
            padding: 40px;
            display:none;
        }
        .cover-body {
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;
            width: 90%;
            height: 100%;
            overflow-y: auto;
        }
        table.diff {
            width: 100% !important;
        }
        .close-doc-popup-win {
            cursor: pointer;
            font-weight: bold;
            font-size: 30px;
            margin-top: 9px;
            margin-right: 9px;
        }
</style>
<script type="text/javascript">

$(document).ready(function () {

    

});

</script>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id="id_confirm_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure to approve?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-doc-type="" data-doc-id="" id="id_modal_confirm_yes">Yes</button>
        <button type="button" class="btn btn-primary" id="id_modal_confirm_no">No</button>
      </div>
    </div>
  </div>
</div>