<div class="form-group">
    {{ facility_formset.management_form }}
    {% for facility_form in facility_formset.forms %}
        <div class="tables borderless">
        <div class="form-heading">Facility Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
        <table class="table hide" data-prefix="{{ facility_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
            <tr>
                <td>
                    {{ facility_form.id }}
                    {{ facility_form.name }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ facility_form.facility_id }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ facility_form.country }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ facility_form.city }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ facility_form.phone }}
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
    <div class="hide add-more-btn">
        <a class="btn btn-default pull-right add-more" href="#"><span class="glyphicon glyphicon-plus"></span> Add Facility</a>
    </div>
</div>