<div class="form-group">
    {{ patient_formset.management_form }}
    {% for patient_form in patient_formset.forms %}
    <div class="tables">
        <div class="form-heading">Patient Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
        <table class="table borderless hide" data-prefix="{{ patient_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
            <tr>
                <td>
                    {{ patient_form.id }}
                    {{ patient_form.name }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.patient_id }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.age }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.date_of_birth }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.phone }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.weight }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.height }}
                </td>
            </tr>
            <tr class="hide_initial hide">
                <td>
                    {{ patient_form.bp }}
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
    <div class="hide add-more-btn">
        <a class="btn btn-default pull-right add-more" href="#"><span class="glyphicon glyphicon-plus"></span> Add Patient</a>
    </div>
</div>