<div class="form-group">
        {{ physician_formset.management_form }}
        {% for physician_form in physician_formset.forms %}
            <div class="tables">
            <div class="form-heading">Physician Information <span class="glyphicon glyphicon-plus show-entity" style="font-weight: bold; font-size: 20px;"></span></div>
            <table class="table borderless hide" data-prefix="{{ physician_form.prefix }}" data-prefix-index="{{ forloop.counter0 }}">
                <tr>
                    <td>
                        {{ physician_form.id }}
                        {{ physician_form.name }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ physician_form.physician_id }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ physician_form.phone }}
                    </td>
                </tr>
                <tr class="hide_initial hide">
                    <td>
                        {{ physician_form.affilicated_facility }}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        <div class="hide add-more-btn">
            <a class="btn btn-default pull-right add-more" href="#">
                <span class="glyphicon glyphicon-plus"></span> Add Physician</a>
        </div>
    </div>