body {
  font-family: 'Titillium Web', sans-serif;
  color: grey;
  font-size: 21px;
  line-height: 30px;
}

.navbar {
  height: 93px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 2px solid hsla(0, 0%, 88%, .9);
  background-color: transparent;
}

.con {
  display: block;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.con.footer {
  position: relative;
  top: 30px;
  z-index: 2;
  margin-bottom: -30px;
  border-top: 0px none transparent;
}

.con.abou-us {
  max-width: 864px;
}

.con.why-alemhealth {
  margin-top: 155px;
}

.con.slider {
  margin-top: -381px;
  margin-bottom: 0px;
}

.nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 93px;
}

.nav-link:hover {
  color: #14a9e0;
}

.nav-link.w--current {
  color: #14a9e0;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 93px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  min-height: 1420px;
  margin-top: -93px;
  padding-top: 240px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), -webkit-linear-gradient(0deg, #e7f6fc, #e6f5fa);
  background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), linear-gradient(90deg, #e7f6fc, #e6f5fa);
  background-position: 100% 42px, 100% 100%, 100% 0px, 0px 0px;
  background-size: auto, 100% 598px, 100% 718px, auto;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  float: none;
  color: #14a9e0;
  font-size: 35px;
  line-height: 54px;
  font-weight: 400;
  text-align: right;
}

.paragraph {
  margin-bottom: 20px;
  float: none;
  clear: right;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.column {
  text-align: right;
}

.text-block {
  margin-top: 85px;
  margin-bottom: 115px;
  color: #14a9e0;
  font-size: 58px;
  line-height: 62px;
  text-align: center;
}

.banner {
  min-height: 230px;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #fcfcfc;
  font-size: 26px;
  text-align: center;
}

.text-block-2 {
  display: block;
  max-width: 810px;
  margin-right: auto;
  margin-left: auto;
  color: #14a9e0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.section-2 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.text-block-3 {
  margin-bottom: 35px;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.row {
  display: block;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
}

.text-block-4 {
  font-size: 26px;
  text-align: center;
}

.text-block-4.left {
  text-align: left;
}

.text-block-4.with {
  margin-bottom: 25px;
  color: #fff;
  text-align: left;
}

.ico-link {
  color: grey;
  text-decoration: none;
}

.text-block-row {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #14a9e0;
  font-size: 58px;
  line-height: 62px;
  text-align: left;
}

.center-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-basis: 415px;
  -ms-flex-preferred-size: 415px;
  flex-basis: 415px;
  background-color: #fafafa;
}

.center-column._2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.center-column._2._1 {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 430px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-3._4 {
  margin-bottom: 0px;
}

.img-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/alembox.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-column._2 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url('../../images/theme/alemhub1.jpg');
}

.img-column._3 {
  background-image: url('../../images/theme/alemhub1.jpg');
  background-size: cover;
}

.img-column._4 {
  background-image: url('../../images/theme/Layer-8.jpg');
  background-position: 50% 50%;
}

.img-column._5 {
  background-image: url('../../images/theme/Layer-9.jpg');
}

.text-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #14a9e0;
  color: #fff;
  font-weight: 200;
}

.text-column._2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fafafa;
}

.text-column._2._1 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block {
  height: 1px;
  margin-right: -60px;
  margin-left: -60px;
  background-color: #f9f9f9;
}

.text-block-5 {
  max-width: 280px;
}

.text-block-5.r {
  float: right;
}

.div-block-2 {
  text-align: right;
}

.contact-form-section {
  min-height: 835px;
  padding: 20px;
  border-bottom: 2px solid rgba(20, 169, 224, .36);
  background-color: #b0e2f5;
  background-image: url('../../images/theme/Ellipse-1-copy-3.png');
  background-position: 0px 0px;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.div-block-3 {
  margin-top: 100px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65px;
  height: 65px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 70px;
  background-color: #2499db;
}

.column-2 {
  text-align: left;
}

.text-block-6 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-block-6:hover {
  color: #2499db;
}

.link-block {
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.row-3 {
  margin-bottom: 50px;
}

.link {
  display: block;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  color: #2499db;
}

.link._2 {
  display: inline-block;
  font-weight: 100;
}

.form-block {
  height: 100%;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
}

.form {
  height: 100%;
  padding: 30px;
  font-size: 16px;
}

.text-field {
  margin-bottom: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #ebebeb;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 400;
}

.text-field:hover {
  border-bottom-color: #14a9e0;
  color: #14a9e0;
}

.textarea {
  min-height: 200px;
  padding-left: 15px;
  border-style: none;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.textarea:hover {
  background-color: #fff;
}

.textarea:focus {
  background-color: #fff;
}

.column-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.submit-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #2499db;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 22px;
}

.submit-button:hover {
  background-color: #14a9e0;
}

.footer {
  border-top: 1px solid #fff;
}

.div-block-5 {
  position: relative;
  z-index: 1;
  width: 65%;
  min-height: 97px;
  background-image: url('../../images/theme/Rectangle-4-copy2x.png'), -webkit-linear-gradient(0deg, #8bd3ee, #abe0f4 90%, rgba(130, 206, 237, 0) 96%);
  background-image: url('../../images/theme/Rectangle-4-copy2x.png'), linear-gradient(90deg, #8bd3ee, #abe0f4 90%, rgba(130, 206, 237, 0) 96%);
  background-position: 100% 50%, 0px 0px;
  background-size: auto 100%, auto;
  background-repeat: no-repeat, repeat;
}

.div-block-6 {
  background-color: #8fd6f0;
}

.row-4 {
  position: absolute;
}

.soc-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 25px;
  float: right;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Fontawesome webfont', sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.soc-link:hover {
  border-color: #2499db;
  color: #2499db;
}

.column-4 {
  padding-left: 7%;
}

.copyright {
  padding: 20px;
  background-color: #555;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.text-block-7 {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 670px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../../images/theme/Hero.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-2 {
  color: #fff;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
}

.section-5 {
  padding: 75px 20px;
}

.qoute-slider {
  min-height: 620px;
  padding: 20px;
  background-image: url('../../images/theme/“-copy2x.png'), url('../../images/theme/“2x.png'), url('../../images/theme/crevl.png'), url('../../images/theme/crevl22x.png'), -webkit-linear-gradient(0deg, #afe2f4, #14a9e0);
  background-image: url('../../images/theme/“-copy2x.png'), url('../../images/theme/“2x.png'), url('../../images/theme/crevl.png'), url('../../images/theme/crevl22x.png'), linear-gradient(90deg, #afe2f4, #14a9e0);
  background-position: 95% 90px, 50px 91px, 50% 0px, 50% 100%, 0px 0px;
  background-size: 230px, 230px, contain, contain, auto;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}

.text-block-8 {
  color: #fff;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

.slider {
  width: auto;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: transparent;
}

.div-block-7 {
  display: block;
  max-width: 660px;
  min-height: 465px;
  margin: 15px auto 50px;
  padding: 75px;
  background-color: #fff;
  box-shadow: 0 1px 15px 0 rgba(0, 91, 134, .13);
  text-align: center;
}

.left-arrow {
  color: rgba(0, 0, 0, .18);
  font-size: 60px;
  font-weight: 300;
}

.right-arrow {
  color: rgba(0, 0, 0, .18);
  font-size: 60px;
}

.slide-nav {
  font-size: 14px;
}

.paragraph-2 {
  display: block;
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  font-size: 28px;
  line-height: 40px;
  font-style: italic;
  font-weight: 400;
}

.text-block-9 {
  color: grey;
}

.text-block-9-copy {
  color: grey;
  font-size: 15px;
  line-height: 25px;
}

.image-6 {
  display: block;
  margin: 24px auto;
}

.section-6 {
  padding: 50px 20px;
  background-color: #fdfdfd;
}

.section-6._2 {
  background-color: #fafafa;
}

.flex-brend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-10 {
  display: block;
  max-width: 195px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #2499db;
  text-align: center;
}

.section-7 {
  min-height: 500px;
  padding: 75px 20px 20px;
  background-image: url('../../images/theme/crevl22x.png'), -webkit-linear-gradient(270deg, hsla(0, 0%, 95%, 0), #fff 81%), url('../../images/theme/004_careers_001a2x.jpg');
  background-image: url('../../images/theme/crevl22x.png'), linear-gradient(180deg, hsla(0, 0%, 95%, 0), #fff 81%), url('../../images/theme/004_careers_001a2x.jpg');
  background-position: 50% 100%, 0px 0px, 50% 0px;
  background-size: auto 220px, auto, cover;
  background-repeat: no-repeat, repeat, no-repeat;
}

.heading-3 {
  color: #14a9e0;
  font-size: 60px;
  line-height: 74px;
  font-weight: 300;
  text-align: center;
}

.text-block-11 {
  font-size: 18px;
  text-align: center;
}

.button {
  display: block;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2499db;
  box-shadow: 0 6px 15px 0 rgba(0, 107, 167, .25);
  text-align: center;
}

.text-block-5-2 {
  max-width: 280px;
}

.text-block-5-2.r {
  float: right;
}

.div-block-8 {
  max-width: 485px;
}

.text-block-12 {
  margin-bottom: 25px;
  color: #14a9e0;
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
}

.paragraph-3 {
  color: grey;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.banner2 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #14a9e0;
}

.text-block-13 {
  color: #fff;
  font-size: 38px;
  line-height: 95px;
  text-align: center;
}

.section-8 {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
}

.div-block-7-copy {
  display: block;
  max-width: 660px;
  min-height: 260px;
  margin: 15px auto 50px;
  padding: 45px;
  background-color: #fff;
  box-shadow: 0 1px 15px 0 rgba(0, 91, 134, .13);
  text-align: center;
}

.text-block-14 {
  margin-bottom: 25px;
  color: #14a9e0;
  text-align: left;
}

.div-block-9 {
  margin-bottom: 10px;
  text-align: left;
}

.text-block-15 {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  line-height: 20px;
}

.image-7 {
  display: inline-block;
}

.button-copy {
  display: block;
  max-width: 280px;
  margin-top: 126px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 30px;
  float: right;
  border-radius: 5px;
  background-color: #14a9e0;
  box-shadow: 0 6px 15px 0 rgba(0, 107, 167, .25);
  line-height: 60px;
  text-align: center;
}

.section-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 165px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(0deg, #f6fcfe, #d5eff9);
  background-image: linear-gradient(90deg, #f6fcfe, #d5eff9);
}

.slider-copy {
  width: auto;
  height: auto;
  padding-top: 25px;
  background-color: transparent;
}

.text-block-16 {
  font-size: 36px;
  line-height: 40px;
}

.text-field-2 {
  height: 60px;
  margin-right: 25px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-left: 25px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 19px 0 rgba(0, 107, 167, .17);
  font-size: 18px;
  line-height: 60px;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-button-2 {
  height: 60px;
  padding: 0px 25px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #14a9e0;
  box-shadow: 0 6px 15px 0 rgba(0, 107, 167, .25);
  line-height: 60px;
}

.form-block-2 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.section-10 {
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.text-block-17 {
  color: #14a9e0;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}

.paragraph-4 {
  margin-top: 45px;
  font-size: 16px;
  line-height: 22px;
}

.section-11 {
  display: block;
  min-height: 545px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../../images/theme/BackGround.jpg'), -webkit-linear-gradient(90deg, #2499db, #14a9e0);
  background-image: url('../../images/theme/BackGround.jpg'), linear-gradient(0deg, #2499db, #14a9e0);
  background-position: 50% 0px, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.heading-4 {
  margin-top: 0px;
  color: #fff;
  font-size: 60px;
  line-height: 65px;
  font-weight: 600;
  text-align: center;
}

.section-12 {
  padding-top: 75px;
  padding-bottom: 20px;
}

.row-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-10 {
  max-width: 373px;
}

.image-8 {
  margin-bottom: -19px;
}

.section-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 370px;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(90deg, #2499db, #14a9e0 99%);
  background-image: linear-gradient(0deg, #2499db, #14a9e0 99%);
  color: #fff;
}

.con-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.con-flex.footer {
  position: relative;
  top: 30px;
  z-index: 2;
  margin-bottom: -30px;
  border-top: 0px none transparent;
}

.con-flex.abou-us {
  max-width: 864px;
}

.con-flex.why-alemhealth {
  margin-top: 155px;
}

.con-flex.slider {
  margin-top: -381px;
  margin-bottom: 0px;
}

.text-block-18 {
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.text-block-19 {
  font-weight: 200;
  text-align: center;
}

.div-block-11 {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.image-9 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-13 {
  width: 2px;
  height: auto;
  min-height: 210px;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: -webkit-linear-gradient(270deg, #14a9e0, hsla(0, 0%, 100%, .28));
  background-image: linear-gradient(180deg, #14a9e0, hsla(0, 0%, 100%, .28));
}

.con-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.con-slider.footer {
  position: relative;
  top: 30px;
  z-index: 2;
  margin-bottom: -30px;
  border-top: 0px none transparent;
}

.con-slider.abou-us {
  max-width: 864px;
}

.con-slider.why-alemhealth {
  margin-top: 155px;
}

.con-slider.slider {
  margin-top: -381px;
  margin-bottom: 0px;
}

.slide-nav-2 {
  font-size: 14px;
}

.slider-2 {
  height: auto;
}

.left-arrow-2 {
  color: #2499db;
}

.right-arrow-2 {
  color: #2499db;
}

.text-block-20 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.paragraph-5 {
  text-align: center;
}

.div-block-14 {
  margin-top: 35px;
}

.div-block-15 {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.div-block-16 {
  margin-top: -65px;
  margin-bottom: 65px;
}

.heading-5 {
  color: #14a9e0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.paragraph-6 {
  text-align: center;
}

.paragraph-7 {
  text-align: center;
}

.paragraph-8 {
  font-size: 15px;
}

.button-2 {
  width: 250px;
}

.button-3 {
  width: 250px;
  background-color: #2499db;
}

.link-2 {
  margin-right: 20px;
  margin-left: 0px;
  font-size: 14px;
}

.link-3 {
  margin-left: 20px;
  font-size: 14px;
}

.div-block-17 {
  margin-top: 0px;
  margin-bottom: 25px;
  clear: none;
}

.link-4 {
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 0px;
  color: #2499db;
  font-size: 14px;
  text-decoration: none;
}

.section-copy {
  min-height: 1200px;
  margin-top: -93px;
  padding-top: 240px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), -webkit-linear-gradient(0deg, #e7f6fc, #e6f5fa);
  background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), linear-gradient(90deg, #e7f6fc, #e6f5fa);
  background-position: 100% 42px, 100% 100%, 100% 0px, 0px 0px;
  background-size: auto, 100% 598px, 100% 718px, auto;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  text-align: center;
}

.button-4 {
  width: 250px;
  border: 1px solid #2499db;
  background-color: transparent;
  color: #2499db;
}

@media (max-width: 991px) {
  .navbar {
    height: 60px;
  }
  .con.footer {
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-link {
    line-height: 40px;
  }
  .brand {
    height: 60px;
  }
  .image {
    max-width: 60%;
  }
  .menu-button {
    background-color: #e3f4fb;
  }
  .menu-button.w--open {
    background-color: #e3f4fb;
    color: #000;
  }
  .nav-menu {
    padding-bottom: 50px;
    background-color: #e3f4fb;
    box-shadow: 0 9px 33px -7px rgba(0, 58, 80, .3);
  }
  .banner {
    padding-right: 20px;
    padding-left: 20px;
  }
  .center-column {
    max-width: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .section-3 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .section-3._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-3._3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .img-column {
    min-height: 410px;
    padding-top: 55px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .text-column {
    max-width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .div-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-block-5.r {
    float: left;
    text-align: left;
  }
  .image-2 {
    display: block;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .row-2 {
    display: block;
  }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0%;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #8fd6f0;
  }
  .div-block-5 {
    min-height: auto;
  }
  .div-block-6 {
    height: 100%;
  }
  .row-4 {
    position: static;
  }
  .soc-link {
    margin-right: 25px;
    margin-left: 0px;
    float: none;
  }
  .column-4 {
    padding-left: 0px;
  }
  .column-5 {
    position: static;
  }
  .image-3 {
    display: block;
  }
  .row-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-6 {
    position: static;
    margin-bottom: 25px;
  }
  .column-7 {
    margin-bottom: 25px;
  }
  .flex-brend {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .text-block-5-2.r {
    float: left;
    text-align: left;
  }
  .div-block-8 {
    max-width: 100%;
  }
  .section-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .con-flex.footer {
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block-13 {
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .con-slider.footer {
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .slider-2 {
    background-color: #2499db;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding-right: 0px;
  }
  .con.footer {
    padding: 0px;
  }
  .section {
    min-height: auto;
    background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), -webkit-linear-gradient(0deg, #e7f6fc, #e6f5fa);
    background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), linear-gradient(90deg, #e7f6fc, #e6f5fa);
    background-position: 100% 42px, 100% 100%, 100% 0px, 0px 0px;
    background-size: auto, contain, contain, auto;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  }
  .heading {
    max-width: 100%;
    margin-top: -80px;
    float: none;
    text-align: left;
  }
  .paragraph {
    float: none;
    clear: none;
    text-align: left;
  }
  .text-block {
    margin-bottom: 0px;
    text-align: left;
  }
  .menu-button {
    background-color: transparent;
  }
  .banner {
    text-align: left;
  }
  .ico-link {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
  .text-block-row {
    margin-bottom: 0px;
    text-align: left;
  }
  .center-column._2._1 {
    margin: 0px;
  }
  .text-block-5.r {
    float: left;
    text-align: left;
  }
  .contact-form-section {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .div-block-3 {
    margin-bottom: 50px;
  }
  .link-block {
    display: block;
  }
  .link._2 {
    display: block;
  }
  .soc-link {
    margin-right: 25px;
    margin-left: 0px;
  }
  .image-4 {
    margin-left: -30px;
  }
  .column-8 {
    overflow: hidden;
  }
  .text-block-7 {
    display: none;
  }
  .image-5 {
    display: block;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
  }
  .qoute-slider {
    background-image: url('../../images/theme/“-copy2x.png'), url('../../images/theme/crevl.png'), url('../../images/theme/crevl22x.png'), -webkit-linear-gradient(0deg, #afe2f4, #14a9e0);
    background-image: url('../../images/theme/“-copy2x.png'), url('../../images/theme/crevl.png'), url('../../images/theme/crevl22x.png'), linear-gradient(90deg, #afe2f4, #14a9e0);
    background-position: 95% 90px, 50% 0px, 50% 100%, 0px 0px;
    background-size: 230px, contain, contain, auto;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  }
  .left-arrow {
    font-size: 30px;
  }
  .right-arrow {
    font-size: 30px;
  }
  .flex-brend {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._1 {
    margin: 15px;
  }
  .text-block-5-2.r {
    float: left;
    text-align: left;
  }
  .button-copy {
    margin-top: 25px;
    float: none;
  }
  .section-9 {
    min-height: auto;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .text-block-16 {
    margin-bottom: 20px;
  }
  .section-10 {
    padding-bottom: 20px;
  }
  .heading-4 {
    text-align: left;
  }
  .section-13 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: -webkit-linear-gradient(90deg, #2499db, #14a9e0 99%);
    background-image: linear-gradient(0deg, #2499db, #14a9e0 99%);
  }
  .con-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .con-flex.footer {
    padding: 0px;
  }
  .div-block-13 {
    width: auto;
    height: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .con-slider.footer {
    padding: 0px;
  }
  .slider-2 {
    background-color: #2499db;
  }
  .heading-5 {
    text-align: left;
  }
  .paragraph-6 {
    text-align: left;
  }
  .div-block-17 {
    margin-bottom: 40px;
  }
  .section-copy {
    min-height: auto;
    background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), -webkit-linear-gradient(0deg, #e7f6fc, #e6f5fa);
    background-image: url('../../images/theme/Saturation-11x.png'), url('../../images/theme/Ellipse-1-copy2x.png'), url('../../images/theme/Ellipse-12x.png'), linear-gradient(90deg, #e7f6fc, #e6f5fa);
    background-position: 100% 42px, 100% 100%, 100% 0px, 0px 0px;
    background-size: auto, contain, contain, auto;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  }
}

@media (max-width: 479px) {
  .navbar {
    height: auto;
  }
  .con.footer {
    display: block;
    padding: 0px;
  }
  .brand {
    position: relative;
    display: inline-block;
    height: 60px;
    max-width: 50%;
    padding-top: 12px;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .section {
    padding-top: 150px;
  }
  .heading {
    max-width: 100%;
    margin-top: -43px;
    float: none;
    text-align: left;
  }
  .paragraph {
    float: none;
    clear: none;
    text-align: left;
  }
  .column {
    text-align: left;
  }
  .text-block {
    font-size: 42px;
    line-height: 52px;
  }
  .image {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    display: block;
  }
  .text-block-2 {
    font-size: 35px;
  }
  .text-block-4.with {
    text-align: center;
  }
  .text-block-row {
    font-size: 48px;
  }
  .center-column {
    padding-right: 20px;
    padding-left: 20px;
  }
  .img-column {
    min-height: 290px;
  }
  .text-column {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-column._2._1 {
    margin: 0px;
  }
  .text-block-5.r {
    float: none;
    text-align: left;
  }
  .image-2 {
    max-width: 100%;
  }
  .column-2 {
    text-align: center;
  }
  .form {
    padding-right: 15px;
    padding-left: 15px;
  }
  .textarea {
    background-color: #fff;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .submit-button {
    position: static;
    margin-top: 25px;
    margin-left: 0px;
  }
  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .copyright {
    padding: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
  }
  .image-4 {
    max-width: 110%;
    margin-left: -16%;
  }
  .image-5 {
    display: block;
  }
  .section-4 {
    min-height: 400px;
  }
  .heading-2 {
    display: block;
    font-size: 52px;
    line-height: 60px;
    text-align: left;
  }
  .text-block-8 {
    text-align: left;
  }
  .div-block-7 {
    padding: 40px 20px;
  }
  .paragraph-2 {
    font-size: 22px;
    line-height: 28px;
  }
  .section-7 {
    padding-top: 30px;
  }
  .heading-3 {
    font-size: 48px;
    line-height: 52px;
    text-align: left;
  }
  .text-block-11 {
    text-align: left;
  }
  .text-block-5-2.r {
    float: none;
    text-align: left;
  }
  .div-block-7-copy {
    padding: 40px 20px;
  }
  .section-9 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form-2 {
    display: block;
  }
  .submit-button-2 {
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-10 {
    padding-bottom: 40px;
  }
  .section-11 {
    min-height: 410px;
  }
  .heading-4 {
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 42px;
    line-height: 50px;
    text-align: left;
  }
  .row-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .con-flex.footer {
    display: block;
    padding: 0px;
  }
  .con-slider.footer {
    display: block;
    padding: 0px;
  }
  .slider-2 {
    background-color: #2499db;
  }
  .section-copy {
    padding-top: 150px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../../fonts/theme/fontawesome-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}