{% load staticfiles %}
<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Dec 13 2017 06:39:19 GMT+0000 (UTC)  -->
<html>
<head>
  <meta charset="utf-8">
  <title>Alemhealth DMS</title>
  <meta content="AlemHealth" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/home_page.css" %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
  <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
  <script src="{% static "js/ajax_handler.js" %}"></script>
  <script src="{% static "js/home_page.js" %}"></script>
  <style type="text/css">
  .section-copy
  {

        background-image: url(../../images/theme/Saturation-11x.png), url(../../images/theme/Ellipse-1-copy2x.png), url(../../images/theme/Ellipse-12x.png), -webkit-linear-gradient(0deg, #e7f6fc, #e6f5fa);
        background-image: url(../../images/theme/Saturation-11x.png), url(../../images/theme/Ellipse-1-copy2x.png), url(../../images/theme/Ellipse-12x.png), linear-gradient(90deg, #e7f6fc, #e6f5fa);
        background-position: 100% 42px, 100% 100%, 100% 0px, 0px 0px;
        background-size: auto, 100% 598px, 100% 718px, auto;
        background-repeat: no-repeat, no-repeat, no-repeat, repeat;
        text-align: center;
    }
  #main_body_container {
      background: white;
  }
  </style>
  {% block header_stylesheets %}

  {% endblock header_stylesheets %}
  {% block header_scripts %}

  {% endblock header_scripts%}
</head>
<body class="section-copy">
<div id="main_body_container" class="container">
    {% include "base/sections/header.html" %}
    {% block header2 %}

    {% endblock header2 %}
    {% block body_content %}
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">

        </div>
    </div>
    {% endblock body_content %}
</div>
{% include "base/sections/footer.html" %}
</body>
</html>
{% block scripts %}
{% endblock scripts %}